module/Module.symvers
module/modules.order
module/*.o
module/*.ko
module/*.cmd
module/*.mod*
debian/panel-waveshare-dsi/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper.log
